/* make sidebar nav vertical */ 
@media (min-width: 200px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 20px;
    max-height: none;
    /*background: none;*/
   background-color: rgba(132,126,137, 0.9);
     border-radius: 30px;

  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
    background: none;
 
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;

   
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
  }
}


@font-face {
font-family: 'Paperclip';
  src: url('css/Paperclip.ttf');
}

.navigation{
  background: none;
  border: none;
  font-family: 'Paperclip';
  color: white;
  font-size: 30px;
  margin-top: 40px ;
  position: fixed;
   z-index: +1;


}

a:active{
  background-color: white;
}

.firstrow{
  padding-top: 100px;
}

  @media (max-width: 762px){
   .sidebar-nav .navbar .navbar-collapse {
      background-color: black;
  }
}

@media(max-width: 762px){
  .navigation{
    position: absolute;
  }
}





body{
  background-image: url(img/background.jpg);
}

