.btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 32;
  border-radius: 50px;
  text-shadow: 1px 4px 4px #731c1c;
  font-family: 'Harry Potter';
  color: #ffffff;
  font-size: 50px;
  background: ##000066;
  padding: 20px 20px 10px 20px;
  border: solid #1a1e21 2px;
  text-decoration: none;
}

.btn:hover {
  background: #23333d;
  text-decoration: none;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('harrypotter.TTF');
}

body{
    background-image: url(../data/background.png);
     text-align: center;
     font-family: 'Inconsolata', monospace;
}

h1{
  font-size: 80px;
  font-family: 'Harry Potter';
}

h2{
  font-family: 'Inconsolata', monospace;
}
#text{
  background:  rgba(211,211,211, 0.7);
}